<!DOCTYPE html>
<html>

<head>
  <title>Behavior GUI</title>
</head>

<body>
  <form action="/api" method="post">
    <input type="submit" name="action" value="start_acquisition" />
  </form>
  <form action="/api" method="post">
    <input type="submit" name="action" value="stop_acquisition" />
  </form>
  <form action="/api" method="post">
    <input type="submit" name="action" value="intrinsic_calibration" />
  </form>
  <form action="/api" method="post">
    <input type="submit" name="action" value="extrinsic_calibration" />
  </form>
  <img src='/video/0'/>
  <!--  <div id="canvasContainer"></div>-->
  <img src='/audio' max-width="100%" max-height="100%" style="width:1600px; height:600px"/>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js"></script> -->
  <!--  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>-->
  <!--  <script src="static/index.js"></script>-->
  <!-- <canvas id="waterfall"></canvas> -->
</body>

</html>